
<div id="aside" class="{{sideNavOpen}}">
  <div class="logo">
    <!-- Name -->
    <a href="#"
      ><span>{{ name }}</span></a
    >
  </div>
  <div class="nav-items">
    <!-- nav items -->
    <ul >
      <li  
      (click)="listClick($event, item)" *ngFor="let item of navItemsObject  | keyvalue: keepOrder">
        <!-- -->
        <a [ngClass]="{'active': selectedItem == item}" class="text-capitalize" routerLink="/{{ item.key }}"
          ><i class="fa {{ item.value }}"></i>{{ item.key }}</a
        >
      </li>
    </ul>
  </div>
  <!-- sp -->
</div>
<div class="nav-toggler" (click)="handleToggle()">
  <span></span>
</div>

