
#aside{
    
    width: 270px;
    background:var(--bg-black-100);
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    z-index: 10;
    transition: all 0.3s ease;
}
/* .nav-toggler{
    display: flex;
} */


.nav-items{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#aside .logo{
    position: absolute;
    top:50px;
    left: 50px;
    padding:3px;
    font-size: 30px;
    text-transform: capitalize;
 }
ul{
    list-style-type: none;
    
}
ul li a{
    text-decoration: none;
}
.fa{
   padding-right: 5px;
}
#aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: none;
    
}
#aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-family: 40px;
}
#aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left:0;
}
#aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right:0;
}

.nav-items li{
    margin-bottom: 20px;
    display: block;
}
.nav-items li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color:var(--text-black-900);
    padding: 5px 15px;
}

.nav-items li a.active{
   color:var(--skin-color);
}
.nav-items li a i{
    margin-right: 15px;
}

/* Toogle */


@media only screen and (max-width:1199px){
    .nav-toggler span{
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: relative;
    }
    .nav-toggler{
        display: flex;
        height: 40px;
        width: 45px;
        border:1px solid var(--bg-black-900);
        cursor: pointer;
        position: fixed;
        justify-content: center;
        align-items: center;
        left:30px;
        top:20px;
        z-index: 3;
        border-radius: 5px;
        background:var(--bg-black-100);
        transition: all 0.3s ease;
    }
    
    .nav-toggler.open span{
        background: transparent;
    }
    
    .nav-toggler span::after{
        content: '';
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: -6px;
        left:0;
    }
    .nav-toggler.open span::after{
        transform: rotate(-45deg);
         top:0;
    }
    .nav-toggler span::before{
        content: '';
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: 6px;
        left: 0;
    }
    .nav-toggler.open span::before{
        transform: rotate(45deg);
         top:0;
    }
    #aside{
        left:-270px;
    }
    
    #aside.open{
        left:0;
        z-index: 2;
    }
    .nav-toggler.open{
        left: 300px;
    }
    
    
    
}  
    


/* style switcher */
