.hello {
  background: var(--skin-color);
  width: auto;
  font-size: 28px;
  padding: 10px;
  text-align: center;
  margin: 15px 0;
  color: var(--text-black-100);
  border-radius: 5rem 5rem 5rem 0;
}
.btn {
  background: var(--skin-color);
  font-size: 16px;
  color: white;
  border-radius: 2rem;
  padding: 12px 35px;
  text-transform: capitalize;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}
.btn:hover {
  transform: scale(1.09);
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-black-900);
}
.home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
.home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
.home-img img {
  height: 400px;

}

/* .home-img:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: -5px;
  right: 10px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
}
.home-img:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
} */

h3.name {
  font-family: "Clicker Script";
  margin: 15px 0;
  font-size: 80px;
  letter-spacing: 5px;
  color: var(--skin-color);
}
h3.my-profission {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--text-black-700);
}

.sm-link {
  margin-right: 15px;
  margin-bottom: 1rem;
}
.sm {
  padding: 0.1em 0;
  width: 1.5em;
  border-radius: 4px;
  background-size: 100% 200%;
  background-position: 0 20%;
  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;
  font-size: 1.5em;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 2px 10px 0px rgba(50, 50, 50, 0.6);
  transition: all 0.3s ease-in-out;
}
.sm:hover {
  background-position: 0 100%;
  text-transform: 4px 2px 10px 0px rgba(50, 50, 50, 0.6);
}
.twitter {
  background-image: linear-gradient(var(--skin-color) 50%, #55acee 50%);
}

.linkedin {
  background-image: linear-gradient(var(--skin-color) 50%, #0e76a8 50%);
}
.github {
  background-image: linear-gradient(var(--skin-color) 50%, #171515 50%);
}
.profiles {
  display: flex;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
    .home{
        padding: 7rem 0 15rem 0;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .home .home-img{
        margin-top: 2rem;
        margin-left:2rem;
        max-width: 100vh;
    }
    .home-img:before , .home-img:after{
        display: none;
    }
    h3.name{
        font-size: 50px;
        margin: 1.5rem 0 10px 0;
    }
    .home-info p {
        text-align: justify;
        margin-bottom:3rem ;
    }
  
  
  
}

/* google
 background-image: linear-gradient(darkgray 50%, add4b39 50%); */
/* google
 background-image: linear-gradient(darkgray 50%, add4b39 50%); */
