<section  class="home section active">
    <div class="container">
       <div class="row">
         <!-- <div class="home-container"> -->
            <div class="home-info padd-15">
               <span data-aos="fade-up" class="hello ">Hello! My Name Is</span>
               <h3 data-aos="fade-up" class="name">Ganesh Kollati.</h3>
               <h3 data-aos="fade-up" class="my-profission">I' m a <span class="typing">Front End developer</span></h3>
               <div data-aos="fade-up" class="profiles">
                 <!-- <a href="#" class="sm-link">
                 <div class="sm twitter">
                  <i class="fa-brands fa-twitter-square"></i>
                 </div>
                </a> -->
                <a href="#" class="sm-link">
                 <div class="sm linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                 </div>
                </a>
                <a href="#" class="sm-link">
                 <div class="sm github">
                    <i class="fa-brands fa-github"></i>
                 </div>
                </a>
               </div>
              <p data-aos="fade-up">I am a software engineer in India . I am very passionate about front end development and technology. Feel free to say hi.</p> 
              <button  class="btn" routerLink="/contact">Say Hi !</button>
            </div>
            <div data-aos="fade-left" class="home-img">
               <img src="../../../../assets/images/profile.jpg" alt="">
            </div>
         </div>
          
       <!-- </div> -->
    </div>
</section>