
  <!-- footer block -->
  <!-- footerName: any;
  footerMadeMsg: any;
  footerSocialMediaMsg:any;
  footerImage:any; -->
  <div class="footer" data-aos="fade-right">
    <div class="copyrights">
        <p>No <i class="fa fa-copyright"></i> Copyright Issues.</p>
        <p class="madeby">Feel free to copy. If you need any help, ping me !</p>
    </div>
    <div class="logos">
      <h3 class="my-name">{{footerName}}</h3>
      <p class="madeby">{{footerMadeMsg}}</p>
    </div>
    <div class="media-icons">
      <p class="madeby">{{footerSocialMediaMsg}}</p>
      <div>
        <div>
          <a href="{{linkedInUrl}}" target="_blank" class="sm-link">
            <div class="sm linkedin">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
          </a>
        </div>
        <div>
          <a href="{{githubUrl}}" target="_blank" class="sm-link">
            <div class="sm github">
              <i class="fa-brands fa-github"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-image" data-aos="fade-right">
    <img src={{footerImage}} alt="">
  </div>

