
/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--bg-black-900);
  
    /* margin-bottom: 2.5rem; */
  }
  .copyrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-black-900);
  }
  .footer > div {
    margin: 1rem 1rem;
  }
  .media-icons {
    display: flex;
    flex-direction: column;
    /* margin-left: 3rem; */
    text-align: center;
  }
  .media-icons div {
    display: inline-block;
  }
  .madeby {
    color: var(--text-black-900);
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
  }
  .media-msg {
    color: var(--text-gray-900);
    font-size: smaller;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
  }
  .sm-link {
    margin-right: 15px;
  }
  .sm {
    padding: 0.1em 0;
    width: 1.5em;
    border-radius: 4px;
    background-size: 100% 200%;
    background-position: 0 20%;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5em;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 2px 10px 0px rgba(50, 50, 50, 0.6);
    transition: all 0.3s ease-in-out;
  }
  .sm:hover {
    background-position: 0 100%;
    text-transform: 4px 2px 10px 0px rgba(50, 50, 50, 0.6);
  }
  .twitter {
    background-image: linear-gradient(var(--skin-color) 50%, #55acee 50%);
  }
  
  .linkedin {
    background-image: linear-gradient(var(--skin-color) 50%, #0e76a8 50%);
  }
  .github {
    background-image: linear-gradient(var(--skin-color) 50%, #171515 50%);
  }
  .profiles {
    display: flex;
    margin-bottom: 10px;
  }
  .footer-image{
      display: none;
  }
  
  @media only screen and (max-width: 768px){
       .footer{
         margin-bottom: 10rem;
       }
  }
  
  @media only screen and (min-width: 768px) {
    
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: space-between;
      align-items: center;
    
  
      /* padding-bottom: 1rem; */
    }
    .form {
      width: 100%;
      margin-bottom: 3rem;
      margin-top: 1rem;
      font-family: "poppins";
      margin-right: 20px;
    }
    .my-name {
      font-family: "Clicker Script", cursive;
      margin: 3px 0;
      font-size: 50px;
      letter-spacing: 5px;
      color: var(--skin-color);
    }
    .footer-image{
      width: 100%;
      display: flex;
      justify-content: center;
      /* background-color: var(--bg-black-900); */
  }
  }
  